*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html,
ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
article,
textarea,
select {
  font: inherit;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"), url("../fonts/KumbhSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"), url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-bgr: #ffffff;
  --clr-primary: #FF7E1B;
  --clr-secondary: #ffede0;
  --clr-selection:#1D2026;
  --clr-font: #69707D;
  --clr-grey-price:#B6BCC8;
  --clr-grey-input: #F6F8FD;
  --clr-grey-footer: #E4E9F2;
  --clr-lightbox-bgr: #00000075;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Kumbh Sans";
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--clr-bgr);
  overflow-x: hidden;
}

main {
  max-width: 63.4375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5.625rem 0 8.25rem 0;
}

.sr-only {
  position: fixed;
  right: 100vw;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.header__container, .header__left, .header__right,
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--clr-grey-footer);
}
.header__left {
  gap: 3.5rem;
}
.header__right {
  gap: 2.75rem;
}

.logo__img {
  width: 8.5625rem;
  height: 1.375rem;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.0625rem;
  font-size: 0.9375rem;
  color: var(--clr-font);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.cart svg {
  padding-top: 4px;
  width: 1.375rem;
  height: 1.5rem;
}

.user img {
  width: 3.125rem;
  height: 3.125rem;
}

.cart-modal {
  display: none;
}

.footer {
  padding: 0 0.9375rem 0.9375rem;
}