*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html,
ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
article,
textarea,
select {
  font: inherit;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"), url("../fonts/KumbhSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"), url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-bgr: #ffffff;
  --clr-primary: #FF7E1B;
  --clr-secondary: #ffeee2;
  --clr-hover: #FFAB6A;
  --clr-selection:#1D2026;
  --clr-font: #69707D;
  --clr-grey-price:#B6BCC8;
  --clr-grey-input: #F6F8FD;
  --clr-grey-footer: #E4E9F2;
  --clr-lightbox-bgr: #00000075;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Kumbh Sans";
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--clr-bgr);
  overflow-x: hidden;
}

main {
  max-width: 65.3125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 27.8125rem;
  width: 100%;
}

.btn {
  background-color: var(--clr-primary);
  color: var(--clr-bgr);
  font-weight: 700;
  border-radius: 0.625rem;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  padding: 1rem 4.6875rem;
  white-space: nowrap;
}
.btn:hover {
  background-color: var(--clr-hover);
}

.sr-only {
  position: fixed;
  right: 100vw;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.header__container, .header__left, .header__right,
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  padding: 2.5rem 0.9375rem;
  border-bottom: 1px solid var(--clr-grey-footer);
}
.header__left {
  gap: 3.5rem;
}
.header__right {
  gap: 2.75rem;
}

.logo__img {
  width: 8.5625rem;
  height: 1.375rem;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.0625rem;
  font-size: 0.9375rem;
  color: var(--clr-font);
}

.cart-modal {
  display: none;
  position: absolute;
  left: 69%;
  top: 6.5625rem;
  width: 22.5rem;
  background-color: var(--clr-bgr);
  -webkit-box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5019607843);
          box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5019607843);
}
.cart-modal__title {
  font-size: 1rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--clr-grey-footer);
}
.cart-modal__content {
  min-height: 11.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart-modal__empty {
  color: var(--clr-font);
  font-weight: 700;
  margin: auto;
}

.cart-modal.show {
  display: block;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.8125rem;
  padding: 5.625rem 0 8.25rem 0;
}
.product__info {
  padding-top: 3.75rem;
}
.product__img {
  border-radius: 0.9375rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9375rem;
}
.product__thumb {
  max-width: 5.5rem;
  position: relative;
  cursor: pointer;
}
.product__thumb:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 0.625rem;
}
.product .active {
  border: 2px solid var(--clr-primary);
  border-radius: 0.625rem;
}
.product .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7490196078);
  border-radius: 0.625rem;
}
.product__thumb img {
  border-radius: 0.625rem;
}
.product__brand {
  display: block;
  color: var(--clr-primary);
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-bottom: 1.5rem;
}
.product__title {
  font-size: 2.75rem;
  line-height: 1;
  color: var(--clr-selection);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.product__text {
  color: var(--clr-font);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-weight: 700;
  margin-bottom: 2rem;
}
.price__actual {
  font-size: 1.75rem;
  color: var(--clr-selection);
}
.price__discount {
  position: absolute;
  left: 7.375rem;
  top: 0.4375rem;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  padding: 0 0.5rem;
  border-radius: 0.375rem;
}
.price__before {
  color: var(--clr-grey-price);
  text-decoration: line-through;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  min-height: 3.5rem;
}
.counter__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 3.5rem;
  background-color: var(--clr-grey-input);
  border-radius: 0.625rem;
  width: 9.8125rem;
  font-weight: 700;
}
.counter__number {
  border: none;
  background-color: var(--clr-grey-input);
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}
.counter__substract, .counter__add {
  font-size: 1.375rem;
  color: var(--clr-primary);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.counter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
  padding-left: 4.6875rem;
}
.counter__btn svg {
  width: 1.375rem;
  height: 1.25rem;
  fill: var(--clr-bgr);
}

.cart {
  position: relative;
}
.cart svg {
  padding-top: 4px;
  width: 1.375rem;
  height: 1.5rem;
  fill: var(--clr-font);
}
.cart__counter {
  display: none;
  position: absolute;
  top: 0;
  right: -0.5rem;
  width: 1.1875rem;
  height: 0.8125rem;
  background-color: var(--clr-primary);
  color: var(--clr-bgr);
  font-size: 0.625rem;
  font-weight: bold;
  border-radius: 6px;
}

.user img {
  width: 3.125rem;
  height: 3.125rem;
}

.footer {
  padding: 0 0.9375rem 0.9375rem;
}