
:root {
    --clr-bgr: #ffffff;

    --clr-primary: #FF7E1B;
    --clr-secondary: #ffeee2;
    --clr-hover: #FFAB6A;

    --clr-selection:#1D2026;
    --clr-font: #69707D;

    --clr-grey-price:#B6BCC8;
    --clr-grey-input: #F6F8FD;
    --clr-grey-footer: #E4E9F2;

    --clr-lightbox-bgr: #000000bf;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans';
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--clr-bgr);
    overflow-x: hidden;
}

main {
    max-width: toRem(1045);
    margin: 0 auto;
    padding: 0 toRem(15);
    flex-grow: 1;
}

.container {
    max-width: toRem(1140);
    margin: 0 auto;
    padding: 0 toRem(15);
}

section {
    flex: 1;
    width: 100%;
    
}

.btn {
    background-color: var(--clr-primary);
    color: var(--clr-bgr);
    font-weight: 700;
    border-radius: toRem(10);
    transition: background-color 0.4s;
    padding: toRem(16) toRem(75);
    text-align: center;
    white-space: nowrap;
    
    &:hover {
        background-color: var(--clr-hover);
    }
}

.sr-only {
    position: fixed;
    right: 100vw;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}