
:root {
    --clr-bgr: #ffffff;

    --clr-primary: #FF7E1B;
    --clr-secondary: #ffede0;

    --clr-selection:#1D2026;
    --clr-font: #69707D;

    --clr-grey-price:#B6BCC8;
    --clr-grey-input: #F6F8FD;
    --clr-grey-footer: #E4E9F2;

    --clr-lightbox-bgr: #00000075;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans';
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--clr-bgr);
    overflow-x: hidden;
}

main {
    max-width: toRem(1015);
    margin: 0 auto;
    padding: 0 toRem(15);
    flex-grow: 1;
}

.container {
    max-width: toRem(1110);
    margin: 0 auto;
    padding: 0 toRem(15);
}

section {
    flex: 1;
    padding: toRem(90) 0 toRem(132) 0;
}

.sr-only {
    position: fixed;
    right: 100vw;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}