@use 'sass:math';

@import '_reset';
@import '_fonts';
@import '_mixins';
@import 'global';


.header {

    &__container,
    &__left,
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__container {
        padding: toRem(40) toRem(15);
        border-bottom: 1px solid var(--clr-grey-footer);

        @media screen and (max-width: toRem(380)) {
            padding: toRem(19) toRem(24) toRem(25);
            border-bottom: none;
        }
    }

    &__left {
        gap: toRem(56);

        @media screen and (max-width: toRem(780)) {
            gap: toRem(16);
        }
    }

    &__right {
        gap: toRem(44);

        @media screen and (max-width: toRem(780)) {
            gap: toRem(20);
        }
    }
}

.logo {
    &__img {
        width: toRem(137);
        height: toRem(22);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(33);
    font-size: toRem(15);
    color: var(--clr-font);

    &__link {
        transition: border 0.4s, color 0.4s;

        &:hover {
            color: var(--clr-selection);
            padding-bottom: toRem(53);
            border-bottom: 4px solid var(--clr-primary);

            @media screen and (max-width: toRem(780)) {
                border-bottom: none;
            }
        }
    }

    @media screen and (max-width: toRem(780)) {
        position: absolute;
        top: 0;
        left: 0;

        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: toRem(20);

        height: 100vh;
        width: 75vw;
        overflow-y: auto;

        background-color: var(--clr-bgr);
        color: var(--clr-selection);
        font-weight: 700;

        padding: toRem(98) toRem(25) 0;
        transform: translateX(-200%);
        transition: transform 0.5s;
        z-index: 1;
    }

    &.mobile {
        transform: translateX(0);
    }
}

.burger {
    position: relative;
    display: none;
    background: url('../images/icon-menu.svg');
    width: toRem(16);
    height: toRem(15);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.1s;

    @media screen and (max-width: toRem(780)) {
        display: block;
        z-index: 2;
    }

    &.mobile {
        background: url('../images/icon-close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        left: toRem(8);
        top: toRem(-20);
    }
}

.cart-modal {
    display: none;
    position: absolute;
    left: 69%;
    top: toRem(105);
    width: toRem(360);
    background-color: var(--clr-bgr);
    box-shadow: 0px 20px 50px -20px #1d202680;
    z-index: 2;

    @media screen and (max-width: toRem(1200)){
        left: 62%;  
    }

    @media screen and (max-width: toRem(980)){
          left: 58%;
    }

    @media screen and (max-width: toRem(885)){
          left: 47%;
    }

    @media screen and (max-width: toRem(710)){
          left: 30%;
    }

    @media screen and (max-width: toRem(538)){
          left: 15%;
    }

    @media screen and (max-width: toRem(500)){
          left: 8%;
    }

    @media screen and (max-width: toRem(376)){
          left: 1%;
    }

    &__title {
        font-size: toRem(16);
        padding: toRem(24);
        border-bottom: 1px solid var(--clr-grey-footer);
    }

    &__content {
        min-height: toRem(188);
        padding: toRem(24);
        display: flex;
        flex-direction: column;
        gap: toRem(16);
        color: var(--clr-font);
    }

    &__content svg {
        width: toRem(14);
        height: toRem(16);
        fill: #c3cad9;
    }

    &__empty {
        color: var(--clr-font);
        font-weight: 700;
        margin: auto;
    }

    &__img {
        width: toRem(50);
        height: toRem(50);
    }

    &__total {
        color: var(--clr-selection);
        font-weight: 700;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(15);
    }
}

.cart-modal.show {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    gap: toRem(125);
    padding: toRem(90) 0 toRem(132) 0;

    &__info {
        padding-top: toRem(60);

        @media screen and (max-width: toRem(985)) {
            padding-top: toRem(0);
        }
    }

    @media screen and (max-width: toRem(985)) {
        gap: toRem(80);
    }

    @media screen and (max-width: toRem(885)) {
        flex-direction: column;
        padding: toRem(40) 0 toRem(100) 0;
    }

    @media screen and (max-width: toRem(430)) {
        gap: toRem(0);
    }

    @media screen and (max-width: toRem(380)) {
        padding: 0 0 toRem(50) 0;
    }

    &__img {
        border-radius: toRem(15);
        margin-bottom: toRem(32);
        cursor: pointer;

        @media screen and (max-width: toRem(885)) {
            max-width: toRem(600);
            width: 100%;
            margin: 0 auto toRem(32);
        }

        @media screen and (max-width: toRem(380)) {
            height: toRem(300);
            margin-bottom: toRem(24);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(31);

        @media screen and (max-width: toRem(885)) {
            justify-content: center;
            gap: toRem(80);
        }

        @media screen and (max-width: toRem(650)) {
            justify-content: space-between;
            gap: toRem(31);
        }


        @media screen and (max-width: toRem(430)) {
            display: none;
        }
    }

    &__thumb {
        max-width: toRem(88);
        position: relative;
        cursor: pointer;

        &:hover {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #ffffff80;
                border-radius: toRem(10);
            }
        }
    }

    .active {
        border: 2px solid var(--clr-primary);
        border-radius: toRem(10);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #ffffffbf;
            border-radius: toRem(10);
        }
    }

    &__thumb img {
        border-radius: toRem(10);
    }

    &__brand {
        display: block;
        color: var(--clr-primary);
        font-size: toRem(13);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: toRem(2);
        margin-bottom: toRem(24);

        @media screen and (max-width: toRem(650)) {
            font-size: toRem(12);
        }

        @media screen and (max-width: toRem(430)) {
            margin-bottom: toRem(16);
        }
    }

    &__title {
        font-size: toRem(44);
        line-height: 1;
        color: var(--clr-selection);
        text-transform: capitalize;
        margin-bottom: toRem(32);

        @media screen and (max-width: toRem(650)) {
            font-size: toRem(28);
        }

        @media screen and (max-width: toRem(380)) {
            margin-bottom: toRem(24);
        }
    }

    &__text {
        color: var(--clr-font);
        line-height: 1.6;
        margin-bottom: toRem(24);
    }

    &__next,
    &__prev {
        display: none;

        @media screen and (max-width: toRem(430)) {
            display: block;
        }
    }

    &__prev {
        left: toRem(18);
    }

    &__next {
        right: toRem(18)
    }
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--clr-lightbox-bgr);
    z-index: 1;

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: toRem(550);
        width: 100%;
        margin: 0 auto;
        padding: 0 toRem(15);

        @media screen and (max-width: toRem(1280)) {
            max-width: toRem(400);
        }
    }

    &__img {
        border-radius: toRem(15);
        margin-bottom: toRem(32);
        cursor: pointer;
    }

    &__close {
        align-self: end;
        padding: toRem(18);
        padding-right: 0;
    }

    &__close svg {
        width: toRem(20);
        height: toRem(20);
        fill: white;
        transition: fill 0.3s;

        &:hover {
            fill: var(--clr-primary)
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(31);
    }

    &__thumb {
        max-width: toRem(88);
        position: relative;
        cursor: pointer;

        &:hover {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #ffffff80;
                border-radius: toRem(10);
            }
        }
    }

    .active {
        border: 2px solid var(--clr-primary);
        border-radius: toRem(10);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #ffffffbf;
            border-radius: toRem(10);
        }
    }

    &__thumb img {
        border-radius: toRem(10);
    }


    &__prev {
        left: toRem(-28);
    }

    &__next {
        right: toRem(-28)
    }

    &__prev {
        @media screen and (max-width: toRem(430)) {
            left: toRem(18);
        }
    }
    &__next {
        @media screen and (max-width: toRem(430)) {
            right: toRem(18);
        }
    }
}

.wrapper {
    position: relative;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--clr-bgr);
    width: toRem(56);
    height: toRem(56);
    border-radius: 50%;

    @media screen and (max-width: toRem(430)) {
        width: toRem(40);
        height: toRem(40);
    }
}


.next svg,
.prev svg {
    width: toRem(12);
    height: toRem(20);
    stroke: var(--clr-selection);
    padding-top: toRem(3);
    transition: stroke 0.3s;

    @media screen and (max-width: toRem(430)) {
        padding-top: toRem(4);
        height: toRem(22);
    }
}

.next:hover svg,
.prev:hover svg {
    stroke: var(--clr-primary)
}

.price {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 700;
    margin-bottom: toRem(32);

    @media screen and (max-width: toRem(885)) {
        flex-direction: row;
        align-items: center;
        gap: toRem(82);
    }

    @media screen and (max-width: toRem(430)) {
        justify-content: space-between;
        margin-bottom: toRem(24);
    }

    &__actual {
        font-size: toRem(28);
        color: var(--clr-selection);
    }

    &__discount {
        position: absolute;
        left: toRem(118);
        top: toRem(7);
        background-color: var(--clr-secondary);
        color: var(--clr-primary);
        padding: 0 toRem(8);
        border-radius: toRem(6);
    }

    &__before {
        color: var(--clr-grey-price);
        text-decoration: line-through;
    }
}

.counter {
    display: flex;
    align-items: center;
    gap: toRem(16);
    min-height: toRem(56);

    @media screen and (max-width: toRem(490)) {
        flex-direction: column;
        align-items: stretch;
    }

    &__inputs {
        display: flex;
        align-items: baseline;
        height: toRem(56);
        background-color: var(--clr-grey-input);
        border-radius: toRem(10);
        width: toRem(157);
        font-weight: 700;

        @media screen and (max-width: toRem(885)) {
            width: 35%;
        }

        @media screen and (max-width: toRem(490)) {
            width: 100%;
        }
    }

    &__number {
        border: none;
        background-color: var(--clr-grey-input);
        height: 100%;
        width: 100%;
        text-align: center;
        flex: 1;
    }

    &__substract,
    &__add {
        font-size: toRem(22);
        color: var(--clr-primary);
        flex: 1;
        transition: color 0.3s;

        &:hover {
            color: var(--clr-hover);
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(15);
    }

    &__btn svg {
        width: toRem(22);
        height: toRem(20);
        fill: var(--clr-bgr);
    }
}

.cart {
    position: relative;

    svg {
        padding-top: 4px;
        width: toRem(22);
        height: toRem(24);
        fill: var(--clr-font);
        transition: fill 0.4s;

        &:hover {
            fill: var(--clr-selection);
        }
    }

    &__counter {
        display: none;
        position: absolute;
        top: 0;
        right: toRem(-8);
        width: toRem(19);
        height: toRem(13);
        background-color: var(--clr-primary);
        color: var(--clr-bgr);
        font-size: toRem(10);
        font-weight: bold;
        border-radius: 6px;
    }
}


.user {
    img {
        width: toRem(50);
        height: toRem(50);
        border-radius: 50%;
        border: 2px solid transparent;
        transition: border 0.3s;

        &:hover {
            border: 2px solid var(--clr-primary);
        }

        @media screen and (max-width: toRem(425)) {
            width: toRem(26);
            height: toRem(26);
        }
    }
}

.footer {
    padding: 0 toRem(15) toRem(15);
}