@use 'sass:math';

@import '_reset';
@import '_fonts';
@import '_mixins';
@import 'global';


.sr-only {
    position: fixed;
    right: 100vw;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.product {
    display: flex;
    gap: toRem(50);

    &__title {

    }
}

section {
    flex: 1;
}

.cart {
    svg {
        width: toRem(22);
        height: toRem(20);
    }
}

.footer {
    padding: 0 toRem(15) toRem(15);
}