@use 'sass:math';

@import '_reset';
@import '_fonts';
@import '_mixins';
@import 'global';


h1,
h2 {
    position: fixed;
    right: 100vw;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.product {
    display: flex;
    gap: toRem(50);
}

.footer {
    padding: 0 toRem(15) toRem(15);
}